.service{
  max-width: 500px;
  background: #fff;
  min-height: 100px;
  margin: 0 auto;
  padding: 1em;
  margin-bottom: 1em;
  line-height: 1.5;
}


.service__header{
  margin: 0;
}


@media (min-width: 730px){
  .services{
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }
  .service{
    max-width: 360px;
    /* box-shadow:0 0px 22px rgba(0,0,0,0.25); */
  }
}

@media (min-width: 900px){
  .services{
    max-width: 85%;
    margin-left: auto; 
    margin-right: auto;
  }
}