.description{
  position: relative;
  z-index: 1;
  padding: 1em;
  background: #eee;
}

.description div{
  max-width: 500px;
  margin: 0 auto;
}
.description__header h3{
  margin-top: 0;
}

.description__content{
  position: relative;
  font-size: 18px;
  z-index: 1;
}

.description:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -104px;
  overflow: visible;
  width: 100%;
  height: 210px;
  background: #eee; 
  z-index: 0;
  /* -webkit-transform: skewY(-4deg);
  -moz-transform: skewY(-4deg);
  -ms-transform: skewY(-4deg);
  -o-transform: skewY(-4deg); */
  transform: skewY(-8deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
}

@media(min-width: 750px){
  .description{
    max-width: 400px;
    margin-left: auto;
    background: transparent;
    position: relative;
    top: -90px;
    color: black;
    margin-right: 10%;
    padding : 0; 
  }

  .description:after{
    background: transparent;
  }
}
