footer{
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  padding: 2em 1em;
}

.footer__ul{
  padding: 0;
  margin: 0;
  min-width: 150px;
  margin-bottom: 1em;
  list-style: none;
}

.footer__ul li:first-child{
  font-size: 20px;
  margin: .5em 0;
  font-weight: 700;
}
.footer__ul li{
  margin: .3em 0;
  font-size: 18px;
  color: #888;
  font-weight: 200;
}
@media ( min-width: 480px ){
  .footer__ul{
    min-width: 217px;
  }
}
