.nav__mobile{
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.nav__mobile ul {
  margin: 10px;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav__mobile ul li{
  display: inlint-block
}
.nav__mobile ul li a{
  display: inline-block;
  padding-top: 0.5em ;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.nav__mobile--active{
  max-height: 500px;
}




  