.nav{
  display: flex;
}
.nav button{
  margin-left: 35px;
  background: purple;
  color: white;
  border-radius: 7px;
}

.nav ul{
  display: flex;
}

.nav ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  color: white;
  text-transform: uppercase;
}

.nav__submit a {
  padding: 0.5em 1em;
}


@media (max-width: 679px){
  .nav{
    display: none;
  }
}
@media (min-width: 860px){
  .nav button{
    margin-left: 100px;
  }
}